<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Студентска система</title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="">Вход</a>
        </li>
        <li>
            <a href="">Начало</a>
        </li>
        <li>
            <a href="">Курсове</a>
        </li>
        <li>
            <a href="">Специалности</a>
        </li>
        <li>
            <a href="">Дисциплини</a>
        </li>
        <li>
            <a href="">Студенти</a>
        </li>
        <li>
            <a href="">Оценки</a>
        </li>
        <li>
            <a href="">Потребители</a>
        </li>
    </ul>
    <ul>
        <li>
            <span>Potrebitelsko Ime</span>
        </li>
        <li>
            <a href="">Профил</a>
        </li>
        <li>
            <a href="">Изход</a>
        </li>
    </ul>
</nav>
<main>

</main>
</body>
</html>